@import url("https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  @apply sm:px-10 px-6 max-w-7xl mx-auto z-50;
}
.sticky {
  @apply py-2 bg-gradient-to-tr to-slate-400 from-slate-600;
}
